<app-nav></app-nav>
<section class="container descrip-productos">
    <div class="container-producto">
        <div class="producto-header">
            <img src="./assets/img/contactos.jpg" alt="">
        </div>
        <div class="producto-body">
        
            <div class="col">
                <h3>Producto 5 Renovable</h3>
            </div>
            <div class="col">
                <p>Categoria: </p>
            </div>
            <div class="col">
                <p>Unidad de Medida: </p>
            </div>
            <div class="col">
                <p>Stock: 45</p>
            </div>
            <div class="col">
                <p>Cantidad</p>
                <input  type="number" value="Agregar al Carrito">
            </div>
            <div class="col">
                <p>Precio: $80</p>
            </div>
            <input type="button" value="Agregar al carrito" class="btn btn-primary float-end mb-3">
        </div>
    </div>
    <div class="content-descripcion">
        <h4>Descripcion</h4>
        <div class="content-descripcion-producto">
            <div class="content-descripcion-producto-body">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat doloremque quos, sunt placeat aspernatur possimus illum voluptatem nostrum eum officiis quo porro ipsum dolor, molestiae corrupti dignissimos cum veritatis minima?</p>
            </div>
        </div>
    </div>
</section>
<section class="container">
    <div class="container-comentario">
        <h2>Comentarios</h2>
        <div class="container-lista-comentario">
            <div class="card mb-1">
                <div class="card-header">
                    <h3>Juan Lopez</h3>
                </div>
                <div class="card-body">
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Qui placeat accusamus iste quidem labore id sit possimus rerum consectetur? Nemo, laborum illo. Incidunt at a molestias numquam modi, laboriosam odio!</p>
                </div>
                <div class="card-footer">
                    <p class="d-flex justify-content-end">Fecha: 15/05/2022</p>
                </div>
            </div>
            <div class="card mb-1">
                <div class="card-header">
                    <h3>Juan Lopez</h3>
                </div>
                <div class="card-body">
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Qui placeat accusamus iste quidem labore id sit possimus rerum consectetur? Nemo, laborum illo. Incidunt at a molestias numquam modi, laboriosam odio!</p>
                </div>
                <div class="card-footer">
                    <p class="d-flex justify-content-end">Fecha: 15/05/2022</p>
                </div>
            </div>
            <div class="card mb-1">
                <div class="card-header">
                    <h3>Juan Lopez</h3>
                </div>
                <div class="card-body">
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Qui placeat accusamus iste quidem labore id sit possimus rerum consectetur? Nemo, laborum illo. Incidunt at a molestias numquam modi, laboriosam odio!</p>
                </div>
                <div class="card-footer">
                    <p class="d-flex justify-content-end">Fecha: 15/05/2022</p>
                </div>
            </div>
        </div>
        <div class="form-comentario">
            <form action="">
                <fieldset>
                    <legend>Información Personal</legend>
                    <div class="mb-3">
                        <label for="nombre">Nombre</label>
                        <input type="text"  id="nombre" class="form-control"
                                        placeholder="Nombre Completo">
                    </div>
                    <div class="mb-3">
                        <label for="email">Correo</label>
                        <input type="email"  id="email" class="form-control"
                                        placeholder="Email">
                    </div>
                    <div class="mb-3">
                        <label for="mensaje">Mensaje</label>
                        <textarea class="bloque"  cols="30" rows="10" id="mensaje" ></textarea>
                    </div>
                    <input type="submit" value="enviar" class="btn btn-primary float-end mb-3">
                </fieldset>
            </form>
        </div>
    </div>
</section>
<app-footer></app-footer>