<app-nav></app-nav>
<section class="contenedor">
  <!--header-->
  <div class="titulo-contenido vh-100">
    <div class="container">
      <div class="container-titulo">
        <div class="container-titulo-betwen">
          <h1>Los mejores productos para el cuidado <br> del medio Ambiente</h1>
          <p><a class="Selecciona btn-primary" routerLink="/tienda/catalogo">Ir al Catalogo</a></p>
        </div>
      </div>
    </div>
  </div>
  <!-- Categoria -->
  <div class="container-categoria" >
    <h2 class="section-title">Categoría</h2>
    <app-carousel-categoria [categorias]="categorias" [autoSlide]="true">
    </app-carousel-categoria>
  </div>
  <!--BLOG -->
  <div class="container">
    <div class="container-blog">
      <h2 class="section-title blog-title">Comentarios</h2>
      <div class="card-group" *ngIf="comentariosCliente.length > 0">
        <div class="card" *ngFor="let comentario of comentariosCliente">
          <div class="card-body">
            <i class="fa fa-quote-left"></i>
            <p class="card-text">{{ comentario.descripcion }}</p>
            <div class="profile">
              <h3 class="card-text"><b>{{comentario.nombre}}</b></h3>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</section>
<app-footer></app-footer>