<div class="body-register">
  <img class="wave" src="./assets/img/wive.png" alt="">
  <div class="contenedor">
    <div class="img">
      <img src="./assets/img/shopping2.svg" alt="">
    </div>
    <div class="contenido-register">
      <form [formGroup]="usuarioForm" (ngSubmit)="registrarUsuario()">
        <img src="./assets/img/logo.png" alt="">
        <h2>TiendaRec</h2>
        <div class="input-div nombre">
          <div class="i">
            <i class="fas fa-user"></i>
          </div>
          <div class="div">
            <h5>Nombre</h5>
            <input  (focus)="focoInput($event)" (blur)="nofocoInput($event)" formControlName="nombre" id="nombre" type="text" class="input">
          </div>
        </div>
        <div class="text-danger mensaje"
              *ngIf="usuarioForm.get('nombre')?.hasError('required') && usuarioForm.get('nombre')?.touched">
            <span>El nombre <strong>es obligatorio</strong></span>
        </div>
        <div class="input-div correo">
          <div class="i">
            <i class="fas fa-envelope"></i>
          </div>
          <div class="div">
            <h5>Correo</h5>
            <input  (focus)="focoInput($event)" (blur)="nofocoInput($event)" formControlName="email" id="email" type="text" class="input">
          </div>
        </div>
        <div class="text-danger mensaje"
              *ngIf="usuarioForm.get('email')?.hasError('required') && usuarioForm.get('email')?.touched">
              <span>El email <strong>es obligatorio</strong></span>
            </div>
        <div class="input-div pass">
          <div class="i">
            <i class="fas fa-lock"></i>
          </div>
          <div class="div">
            <h5>Contraseña</h5>
            <input  (focus)="focoInput($event)" (blur)="nofocoInput($event)" formControlName="password" id="password" type="password" class="input">
          </div>
        </div>
        <div class="text-danger mensaje"
              *ngIf="usuarioForm.get('password')?.hasError('required') && usuarioForm.get('password')?.touched">
              <span>El password <strong>es obligatorio</strong></span>
            </div>
        <div class="input-div repass">
          <div class="i">
            <i class="fas fa-lock"></i>
          </div>
          <div class="div">
            <h5>ReContraseña</h5>
            <input  (focus)="focoInput($event)" (blur)="nofocoInput($event)" formControlName="repassword" id="repassword" type="password" class="input">
          </div>
        </div>
        <div class="text-danger mensaje"
              *ngIf="usuarioForm.get('repassword')?.hasError('required') && usuarioForm.get('repassword')?.touched">
              <span>El password <strong>es obligatorio</strong></span>
        </div>
        <input [disabled]="usuarioForm.invalid" class="btn" value="Registrar" type="submit">
        <a routerLink="/tienda/login" class="volver" href="">Login</a>
      </form>
    </div>
  </div>
</div>