<div class="body-logo">
    <img class="wave" src="./assets/img/wive.png" alt="">
    <div class="contenedor">
        <div class="img">
            <img src="./assets/img/shopping3.svg" alt="">
        </div>
        <div class="contenido-login">
            <form [formGroup]="loginForm" (ngSubmit)="logearUsuario()">
                <img src="./assets/img/logo.png" alt="">
                <h2>TiendaRec</h2>
                <div class="input-div correo">
                    <div class="i">
                        <i class="fas fa-envelope"></i>
                    </div>
                    <div class="div">
                        <h5>Correo</h5>
                        <input (focus)="focoInput($event)" (blur)="nofocoInput($event)"  type="email" formControlName="email" id="email" class="input" type="text">
                    </div>
                </div>
                <div class="text-danger mensaje"
                    *ngIf="loginForm.get('email')?.hasError('required') && loginForm.get('email')?.touched">
                    <span>El email <strong>es obligatorio</strong></span>
                </div>
                <div class="input-div pass">
                    <div class="i">
                        <i class="fas fa-lock"></i>
                    </div>
                    <div class="div">
                        <h5>Contraseña</h5>
                        <input (focus)="focoInput($event)" (blur)="nofocoInput($event)" formControlName="password" id="password" class="input" type="password">
                    </div>
                </div>
                <div class="text-danger mensaje"
                    *ngIf="loginForm.get('password')?.hasError('required') && loginForm.get('password')?.touched">
                    <span>El password <strong>es obligatorio</strong></span>
                </div>
                <input class="btn" value="Iniciar Sesion" type="submit">

                <div class="enlaces d-flex">
                    <a routerLink="/tienda/inicio" class="volver" href="">Volver al Inicio</a>
                    <a routerLink="/tienda/registro" class="registrate" href="">Registrate</a>
                </div>

            </form>
        </div>
    </div>
</div>
